* {
    margin: 0px;
    padding: 0px;
}

.wall {
    position: relative;
    margin: 10px auto;
    width: 600px;
    height: 420px;
    border: 1px solid black;
    z-index: 1;
}

.snakeHead {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 5;
    background-color: red;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.snake_body {
    position: absolute;
    background-color: grey;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.food {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 5;
    background-color: lightblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}